
/* plug in */
#scrollUp {
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #555;
    color: #fff;
}
/* main container */
.container-fluid{
    width:100%; 
}

.overflow{
    overflow: hidden;
}

/* navbar */
nav{
    width: 100%;
/* height: 80px; */
}
#first{
   /* margin-bottom:50%; */
}
#h1 nav{

background-color: black;
width: 100%;


}
#h11 img{
    position:absolute;
margin-bottom: 40%;
/* height: 40px; */
}
nav label{
padding-left:1%;
font-size: 40px;
font-family:Castellar ;
color: aliceblue;
padding-top: ;
z-index: 1;
overflow: hidden;
margin-right: 10%;

/* padding-right:70px; */
}
.nav-item {
    padding-top: 8%;
 /* padding-bottom: -14%;  */
padding-left: 2%;

 /* padding: 4%; */
}
#navbarScroll ul li a{
/* margin-bottom:70%;; */
display: inline-block;
color: rgb(255, 255, 255);
font-size: 60px;
text-decoration: none;
}

#navbarScroll ul li a :hover{
color: rgb(126, 25, 25);
background-color: #47cd47;
}
.dropdown-menu a{
    color: rgb(255, 255, 255);
    background-color: rgb(109, 109, 109);
}
.dropdown-menu a:hover{
        color: aliceblue;
        background-color: black;
}
.d-flex{
    padding-top: 6%;
    padding-left: 2%;

      /* padding-top:4% ; */
      /* margin-right: 2%; */
}
#h2{
    /* margin-top: -100px;   */
/* overflow: visible; */
}
#h2 h1 {
background: 50% 100% / 50% 50% no-repeat
          radial-gradient(ellipse at bottom, #fff, transparent, transparent);
-webkit-background-clip: text;
background-clip: text;
color: transparent;
font-size: 10vw;
font-family:Felix Titling;
animation: reveal 3000ms ease-in-out forwards 200ms,
         glow 2500ms linear infinite 2000ms;
}
@keyframes reveal {
80%{
  letter-spacing: 8px;
}
100% {
  background-size: 300% 300%;
}
}
@keyframes glow {
40% {
  text-shadow: 0 0 8px #bb1e1e;

}
}
/* slider */
#h2{
/* margin-top: 8%; */
}
#h2 img{
    width: 100%;
    height: 750px;
  
}
/* contain */
#h31{
    margin-top: 100px;
width:700px;
    height: 100%;
    margin-left:2%;
background-color: rgb(187, 7, 7);
color: aliceblue;
}
#h31 h1{
    line-height: 100px;
    font-size: 30px;
}
#h31 p{
margin-top: 40px;
text-align: justify;
font-size: 24px;

}
#h31 hr{
    margin-top: 30px;
    color: white;
}
#h31 button a{
    color: white;
    text-decoration: none;
}
#h32{
    text-align: center;
    font-size: 40px;
    margin-top:200px;
    margin-left: 2%;
}
#h5 h1{
    margin-top: 100px;
}
#h6 img{
    /* padding-left: 10%; */
    /* padding-right: 10%; */
margin: 10%;
margin-bottom: 20%;
    transition-property: width height;
    transition-duration: 0.5s;
}
#h6 img:hover{
    width:80%;
    height: 80%;
  
}
#h6 a{
    /* margin-top:100%; */
    margin-left: 30%;
    /* text-align: center; */
    color: black;
    text-decoration: none;
    font-size: 30px;
    /* margin-top: 10%; */
}
/* special Tiles */
#h7 p{
    text-align: justify;
    font-size: 20px;
    margin-top: 2%;
}
#h7 h1 a{
    color: black;
    text-decoration: none;
}
/* gallery */
#G1{
   margin-bottom: 2%;
}

#h8 img{
    /* margin-top: 3%; */
        width: 30%;
        height: 30%;
        text-align: center;
        transition-property:width height;
      
        transition-duration: 0.5s;
    
}
#h8 img:hover{
         width: 34%;
         height:34%;
    
            }
/* menu */
#m1{
    margin-top: 2%;
    background-color: rgb(43, 42, 42); 
}
#m2{
    margin-top: 2%;
    /* background-color: rgb(43, 42, 42);  */
}
#m1 h1{
     
     text-align: center;
     border: 4px solid rgb(36, 35, 35);
     background-color: rgb(255, 255, 255);
     color: rgb(4, 4, 4);
     margin-top: 3%;
     
}
#m1 h3 {
     
     color: rgb(255, 255, 255);
     font-size: 30px;
     text-decoration:underline 2px black;
     padding-bottom:10px ;
}
#m1 h3 a:hover{
    background-color: rgb(43, 42, 42); 
    background-color: rgb(37, 35, 35);
color: white;
}
#m1 ul {
 color: aliceblue;    
}
#m1 ul :hover{
    
     background-color: rgb(143, 140, 57);
     color: rgb(249, 249, 249);
}
#m1 a{
 color: aliceblue;
 line-height: 40px;
 text-decoration: none;
 font-size: 20px;
}
#m1 a:hover{
     width: 500px;
     background-color: rgb(143, 140, 57);
     color: rgb(249, 249, 249);
}
#m3 h1{
   margin-top: 30px;
   text-align: center;
   background-color: rgb(226, 216, 206);
 }
#m2 p{
   font-family: Felix Titling;
   font-size: 30px;
   text-align: center;
 color: rgb(139, 9, 9);
 margin-top: 250px;
 line-height: 40px;
 
 background-color: rgb(255, 255, 255);
}
.card{
    /* border: 0px solid white; */
}
.card{
    /* border: 0px solidwhite; */
/* border: none; */
}
.card-group{
         margin-top: 20px;
        
 }
 .card-body button:hover{
    border: 2px solid black;
    background-color: #1d15b3;
    color: white;
 }
.card img{
   padding-left: 20%;
   padding-top: 20%;
   padding-right: 20%;
             width: 100% ;
             height: 100%;
             text-align: left;
}
 .card-body{
    padding-left: 20%;
   padding-top: 20%;
   padding-right: 20%;
 text-align: center;
}
#a{
    margin-top: 2%;
    margin-bottom: 2%;
}
 /* privacy policy */
 #p1{
    margin-top: 10%;
  }
/* contact us form */
#c2{
    margin-top: 100px;
  
    background-color: rgb(31, 133, 136);
    border: 4px solid black;
    
}
#main{
    width:auto;
}
#c2 p{
padding-top:10%;
padding-right: 10%;
background-color: rgb(31, 133, 136);
color: white;
text-align: center;
font-size: 20px;
text-indent: 6px;
}
#c3{
    margin-top: 100px;
    width: 500px;
   padding: 90px 0px 0px 30px; 
    
    background-color: rgb(255, 255, 255);
    border: 4px solid black;
    border-left: 2px solid black;
}
/* location */
#loc{
    /* margin-top: 10%; */
    padding: 4%;
}
#loc1{
    margin: 2%;
    border: 2px solid black;
    line-height: 30px;
    padding: 4%;
    /* height: 60%; */
}
#loc1 p{
    padding: 1%;
    font-size: 20px;
    font-weight: bold;
}
#loc1 button{
    margin-top: 6%;
    margin-left: 60%;
    background-color: rgb(184, 67, 67);
    color: white;
}
#loc1 button a{
text-decoration: none;
    color: white;
}
#loc2{
padding: 4%;
}

/* footer */
#f1{
    margin-top: 10px;
background-color: black;
line-height: 100px;

}
#f1 .bi{
    color: white;
    padding: 10px;
font-size: 26px;
}
#f2{
height: 100%;
background-color: black;
line-height: 60px;
}
#f2 a{
    color: white;
    padding-left: 22px;
    font-size: 24px;
    
   
text-decoration: none;}
   
#f2 a:hover{
color: rgb(249, 41, 41);
text-decoration: underline;
 }
#f3{
    height: 100%;
    background-color: black;
color: rgb(255, 255, 255);  
}
#f4{
    height: 100%;
    background-color: black;
color: rgb(255, 255, 255);  
font-size: 18px;
}
#fi1:hover{
    color: rgb(224, 24, 111);
    padding-left: 10px;
}
#fi2:hover{
        color: rgb(10, 60, 200);
    padding-left: 10px;
    
}
#fi3:hover{
       color: #47cd47;
       padding-left: 10px;
    
}
#fi4:hover{
        color: blue;
        padding-left: 10px;
    
}
#fi5:hover{
        color: red;
}

/* end */